registry=https://registry.npmjs.org/
save-exact=true
fund=false
audit=true
loglevel=notice
package-lock=true
engine-strict=true
resolution-mode=highest
prefer-offline=true
progress=true
//registry.npmjs.org/:_authToken=<auth-token>
