registry=https://registry.npmjs.org/
save-exact=true
fund=false
audit=true
loglevel=notice
package-lock=true
engine-strict=true
resolution-mode=highest
prefer-offline=true
progress=true
//registry.npmjs.org/:_authToken=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
